* {
  margin: 0;
  padding: 0;
  color: #0d1321;
}
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.title {
  font-size: 32px;
  font-weight: bolder;
}
.description{
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}
body{
  width: fit-content;
  text-align: center;
}
/* nav styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 38px 150px;
}
nav button {
  padding: 17px 24px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 600;

}

/* banner styles */

.banner {
  background-image: url("assets/Hero-bg.png");
  background-size:contain;
  padding: 25px 221px;
  display:flex;

}
.special-button {
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 21px 24px;
  margin:24px 0px;
}
.special-button > a {
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}
.banner-content > .title{
    font-size: 48px;
line-height: 68px;
margin:24px 0px;
}

/* why web developement section */

.reason{
   margin:74px 150px;
   border-radius: 16px;
   background: rgba(13, 19, 33, 0.02);
   padding:80px 97px;
}
.reason-group{
  display: flex;
  justify-content: space-between;
  margin-bottom:32px;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.group-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}
.title2{
  opacity:0.7;
  font-size:24px;
  font-weight: bold;
}
.btn{
  padding:12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  opacity:0.7;
  background-color: white;
}
.special-group{
  background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.reason >p{
  margin: 24px 47px 48px 47px;
}

/* inspiration section */

.inspiration{
  margin:16px 150px 150px 150px;
}
.video{
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding:32px;
}
iframe{
  border-radius: 16px;
  height:550px;
  position:relative;
  width:100%;
}
.inspiration > p ,.current-target >p ,.next-target >p{
  margin:24px 144px 48px 144px;
}

/* target section */

.target{
  margin:0px 150px 47px 150px;
}
a{
font-size: 16px;
font-weight: 700;
margin-top:24px;
}
.current-items{
  display:flex;
  justify-content: space-between;
  margin-bottom:111px;
  text-align: left;
  gap:24px;
}
.current-item{
  padding:40px;
  border-radius: 16px;
}
.html{
  background: rgba(255, 76, 30, 0.05);
}
.css{
  background: rgba(0, 76, 232, 0.05);
}
.js{
  background: rgba(255, 223, 0, 0.05);
}
.title3{
  font-size: 24px;
  font-weight: 800;
  margin:24px 0px 8px 0px;
}
.next-item{
  display: flex;
  gap:24px;
  border-radius:16px;
  padding:40px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  text-align: left;
  margin-bottom:24px;
}
.current-items .description ,.next-items .description{
  margin-bottom: 24px;
}

/* support section */

.support{
  border-radius: 16px;
  background:url("assets/handshake.jpg");
  background-position: center;
  padding:64px 48px;
  margin:0px 150px 80px 150px;
  color:white;
}
.support-content{
  color: rgb(255, 255, 255);
}
.support-title{
  font-size: 32px;
  font-weight: 700;
  margin-bottom:16px;
  color:white;
}
.form{
  display: flex;
  gap:16px;
  margin:24px 180px 0px 180px;
  justify-content:space-evenly;
}
#message{
  padding:19px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  position:relative;
  width:100%;
}
#submit{
  border-radius: 8px;  
  padding:17px 20px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  font-size:20px;
  font-weight:600;
}
/* footer section */
.contact{
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  padding:32px 150px;
  font-size:20px;
  font-weight:600;
}
.img{
  display: flex;
  justify-content: space-between;
  gap:24px;
}

